<div class="mat-elevation-z4 flex-row">
    <div class="col-2 flex-row-justify-start">
        <div id="logo">FitFoodie</div>
    </div>
    <div class="col-1"></div>
    <div class="col-3" *ngFor="let link of navLinks">
        <button class="nav-bar-button" mat-button color="primary" (click)="clickTab(link)">
            {{link}}
        </button>
    </div>
    <div class="col-2"></div>
    <div class="col-1 flex-row-justify-end">
        <button mat-icon-button color="primary">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
</div>