@import 'variables'

h1
    color: $primary-default
    padding: 4px 8px
    font-size: 25px
    font-weight: bold

nav
    margin: 8px 4px

.content
    margin: 16px 12vw
    display: flex
    justify-content: center
    align-items: center