<div class="flex-row">
    <div class="col-2"></div>
    <div class="col-8">
                <mat-accordion multi="true">
                <mat-expansion-panel *ngFor="let meal of meals;" [expanded]="meals">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{meal.mealName}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <table mat-table [dataSource]="diaryEntriesByMeal[meal.mealOrder]">
                        <ng-container matColumnDef="selection">
                            <th mat-header-cell *matHeaderCellDef> <mat-checkbox></mat-checkbox> </th>
                            <td mat-cell *matCellDef="let entry"> 
                                <mat-checkbox></mat-checkbox> </td>
                            <td mat-footer-cell *matFooterCellDef>  </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Name</th>
                            <td mat-cell *matCellDef="let entry">{{entry.diaryEntryName}} </td>
                            <td mat-footer-cell *matFooterCellDef> Total </td>
                        </ng-container>
                        <ng-container matColumnDef="calories">
                            <th mat-header-cell *matHeaderCellDef>Calories <br> (kcal)</th>
                            <td mat-cell *matCellDef="let entry">{{entry.diaryEntryCalories}} </td>
                            <td mat-footer-cell *matFooterCellDef> {{getTotal(meal, 0)}} </td>
                        </ng-container>
                        <ng-container matColumnDef="protein">
                            <th mat-header-cell *matHeaderCellDef>Protein <br> (g)</th>
                            <td mat-cell *matCellDef="let entry">{{entry.diaryEntryProtein}} </td>
                            <td mat-footer-cell *matFooterCellDef> {{getTotal(meal, 1)}} </td>
                        </ng-container>
                        <ng-container matColumnDef="carbs">
                            <th mat-header-cell *matHeaderCellDef>Carbs <br> (g)</th>
                            <td mat-cell *matCellDef="let entry">{{entry.diaryEntryCarbs}} </td>
                            <td mat-footer-cell *matFooterCellDef> {{getTotal(meal, 2)}} </td>
                        </ng-container>
                        <ng-container matColumnDef="fat">
                            <th mat-header-cell *matHeaderCellDef>Fat <br> (g)</th>
                            <td mat-cell *matCellDef="let entry">{{entry.diaryEntryFat}} </td>
                            <td mat-footer-cell *matFooterCellDef> {{getTotal(meal, 3)}} </td>
                        </ng-container>
                        <!-- <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let entry"> 
                                <button mat-icon-button color="primary">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="accent">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                            <td mat-footer-cell *matFooterCellDef> </td>
                        </ng-container> -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                    </table>
                </mat-expansion-panel>
            </mat-accordion>
    </div>
    <div class="col-2"></div>
</div>