@import 'variables'
  
/* You can add global styles to this file, and also import other style files */
html, body 
    height: auto
    margin: 0 !important

// fills up space
.spacer 
  flex: 1 1 auto

// .mat-tab-link
//   color: $primary-default !important

// .mat-tab-label-active
//   opacity: 1 !important

#logo .mat-figure 
  justify-content: flex-start !important

#nav-options .mat-figure 
  justify-content: flex-end !important

#nav-bar
  // margin: 10px 0px
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important

// .mat-tab-nav-bar
//   border-bottom: 0px
