@import 'variables'
  
/* You can add global styles to this file, and also import other style files */
html, body 
    height: auto
    margin: 0 !important

// fills up space
.spacer 
  flex: 1 1 auto

.mat-tab-link
  color: $primary-default !important
  padding: 0 5vw !important

.mat-tab-label-active
  opacity: 1 !important