<mat-grid-list cols="16" rowHeight="100">
    <mat-grid-tile colspan="4"></mat-grid-tile>
    <mat-grid-tile colspan="8"> 
        <button mat-icon-button color="primary" (click)="previousDate()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <mat-form-field id="datepicker">
            <mat-label> Select a date </mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="selectedDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [startAt]="currentDate" color="primary"></mat-datepicker>
        </mat-form-field>
        <button mat-icon-button color="primary" (click)="nextDate()">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="4"></mat-grid-tile>
</mat-grid-list>

