@import 'variables'

.flex-row
    min-height: 100px
    
#datepicker
    color: $primary-default
    font-weight: 550
    text-align: center

.datepicker-buttons
    height: 56.65px

mat-card
    width: 100%
    margin-bottom: $gutter-size

.nutrition-counters
    mat-card
        text-align: center
    .mat-small
        color: rgba(0, 0, 0, 0.6)
    h1
        display: inline
        font-size: 24px
        margin: 2px 
    mat-card-content
        color: #FF9100

table
    width: 100%

.mat-table-header
    color: rgba(0, 0, 0, 0.6)
    font-weight: bold
    margin: 0px 0px 0px 23px
    

.mat-cell
    font-size: 13px
    color: rgba(0, 0, 0, 0.6)

.mat-header-cell
    font-weight: bold
    // color: $primary-default