@import '~@angular/material/theming'
@import 'theme'
@import "@material/layout-grid/mdc-layout-grid"
  
// Be sure that you only ever include this mixin once!
@include mat-core()
@include angular-material-theme($app-theme)
 
html, body 
  height: 100%
  margin: 0 !important

.flex-container 
  display: flex
  justify-content: center
  align-items: center

@for $i from 1 through 12
    .col-#{$i}
        flex: $i
        overflow: hidden

.flex-container-justify-end
  display: flex
  justify-content: flex-end
  align-items: center